.user {
	padding-top: 40px;
	padding-bottom: 50px;

	&__nav {
		&__header {
			@include flex(center);
			font-size: 1.4rem;
			padding-bottom: 20px;
			border-bottom: 1px solid $border-color;
		}

		&__img {
			@include flex(center, center);
			color: #d6d5d5;
			font-size: 2.2rem;
			border: 1px solid currentColor;
			width: 50px;
			height: 50px;
			border-radius: 50%;
		}

		&__basic-info {
			margin-left: 15px;
		}

		&__text {
			font-size: 1.4rem;
		}

		&__sub-text {
			color: $sub-text-color;
			text-transform: capitalize;
		}

		&__list {
			margin-top: 30px;
		}

		&__item {
			margin-top: 15px;
			font-size: 1.4rem;
			text-transform: capitalize;

			& i {
				margin-right: 10px;
				font-size: 1.8rem;
				width: 20px;
				height: 20px;
			}

			&.sub-item {
				margin-left: 16px;
				color: $sub-text-color;
			}
		}

		&__link {
			transition: color 0.25s ease-in;

			&:hover {
				color: $primary-color;
			}

			&.active {
				color: $primary-color;
			}
		}

		&__sub-nav {
			margin-left: 15px;
			height: 0;
			overflow: hidden;
			opacity: 0;
			transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1),
				opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
		}

		&__sub-nav.open {
			height: 108px;
			opacity: 1;
		}
	}

	&__content {
		background-color: white;
		border-radius: 5px;
		border: 1px solid $border-color;
		padding: 20px 30px 40px;
	}

	&__purchase {
		&__header {
			&__tab {
				@include flex(center);
				position: relative;
			}

			&__item {
				flex: 1;
			}

			&__link {
				display: block;
				font-size: 1.6rem;
				text-align: center;
				padding: 15px 0;
				transition: 0.2s ease-in;

				&.active {
					color: $primary-color;
				}
			}

			&__line {
				position: absolute;
				bottom: 0;
				width: 0px;
				height: 3px;
				border-radius: 5px;
				background-color: $primary-color;
				transition: 0.2s ease-in;
			}
		}

		&__search {
			@include flex();
			margin-top: 20px;
			background-color: #eaeaea;
			border-radius: 5px;
			padding-right: 10px;

			&__icon {
				font-size: 2rem;
				padding: 10px;
				transition: 0.25 ease-in;
			}

			&__input {
				border: none;
				outline: none;
				font-size: 1.4rem;
				background-color: #eaeaea;

				&:focus {
					background-color: #eaeaea;
				}
			}
		}
	}
}
