.breadcrumb {
	margin-bottom: 0;

	&-item {
		font-size: 1.4rem;

		&::before {
			display: none;
		}

		&.active {
			color: $primary-color;
		}

		&.active &-icon {
			display: none;
		}

		&-link {
			transition: color 0.25s ease-in;

			&:hover {
				color: $primary-color;
			}
		}

		&-icon {
			font-size: 1.2rem;
			padding: 0 10px;
		}
	}
}
